<div class="container-flex border-bottom border-3 border-dark" style="background-color: #dc4726;">
    <nav class="navcss navbar navbar-expand navbar-light justify-content-between ">
        <a class="mx-4 pt-0" href="home.html"><img class="logo" src={{imagePath}}></a>

        <div class="dropdown btn-group dropleft">
            <button type="button" class="btn btn-secondary dropdown-toggle mx-5" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Explore
            </button>
            <div class="dropdown-menu dropdown-menu-right ">
                <button class="dropdown-item " type="button">Contact Us</button>
                <button class="dropdown-item" type="button">Menu</button>
                <button class="dropdown-item" type="button">Register</button>
                <button class="dropdown-item" type="button">Login</button>
                <button class="dropdown-item" type="button">Checkout</button>
            </div>
        </div>
        <ul class="nav header mx-4">
            <li class="nav-item navbar-brand py-0">
                <a class="nav-link active mx-2" href="#">Contact Us</a>
            </li>
            <li class="nav-item navbar-brand py-0">
                <a class="nav-link active  mx-2" href="#">Menu</a>
            </li>
            <li class="nav-item navbar-brand py-0">
                <a class="nav-link active mx-2" href="#">Register</a>
            </li>
            <li class="nav-item  navbar-brand py-0">
                <a class="nav-link active mx-2 " href="#">Login</a>
            </li>
            <li class="nav-item navbar-brand py-0">
                <a class="nav-link active mr-4" href="#">Checkout</a>
        </ul>
    </nav>
</div>