<div id="navbar" class="container-flex border-bottom border-3 border-dark" [style.backgroundColor]="color">
    <nav class="navcss navbar navbar-expand navbar-light justify-content-between ">
        <a class="mx-4 pt-0" routerLink = "/home"><img class="logo" src={{imagePath}} ></a>

        <div class="dropdown btn-group dropleft">
            <button type="button" class="btn btn-secondary dropdown-toggle mx-5" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Explore
            </button>
            <div class="dropdown-menu dropdown-menu-right ">
                <a class="dropdown-item" routerLink = "/contact-page" type=>Contact Us</a>
                <a class="dropdown-item" routerLink = "/menu">Menu</a>
                <a class="dropdown-item" routerLink = "/registration">Register</a>

                <a  class="dropdown-item" routerLink = "/login">Login</a>
                <a  class="dropdown-item" routerLink = "/login">Logged In</a>
                <a  class="dropdown-item" routerLink = "/adminLogin">Logged In</a>
                <a  class="dropdown-item" routerLink = "/basket">Basket</a>
            </div>
        </div>
        <ul class="nav header mx-4">
            <li class="nav-item navbar-brand py-0">
                <a *ngIf="isAdmin!=true"class="nav-link active mx-2" routerLink = "/contact-page" >Contact Us</a>
            </li>
            <li class="nav-item navbar-brand py-0">
                <a *ngIf="isAdmin" class="nav-link active mx-2" routerLink = "/contact-page" >Test Message</a>
            </li>
            <li class="nav-item navbar-brand py-0">
                <a *ngIf="isAdmin!=true" class="nav-link active  mx-2" routerLink = "/menu">Menu</a>
            </li>
            <li class="nav-item navbar-brand py-0">
                <a *ngIf="isAdmin" class="nav-link active  mx-2" routerLink = "/menu"> View Menu</a>
            </li>
            <li *ngIf="loginStatus!=true && isAdmin!=true" class="nav-item navbar-brand py-0">
                <a class="nav-link active mx-2" routerLink = "/registration">Register</a>
            </li>
            <li *ngIf="loginStatus!=true&&isAdmin!=true" class="nav-item  navbar-brand py-0">
                <a class="nav-link active mx-2 "routerLink = "/login">Login</a>
            </li>
            <li *ngIf="loginStatus" class="nav-item  navbar-brand py-0">
                <a class="nav-link active mx-2 "routerLink = "/login-dashboard/details">Profile</a>
            </li>
            <li *ngIf="isAdmin" class="nav-item  navbar-brand py-0">
                <a class="nav-link active mx-2 "routerLink = "/admin-dashboard/overview">Dashboard</a>
            </li>
            <li *ngIf="loginStatus" class="nav-item  navbar-brand py-0">
                <a class="nav-link active mx-2 "(click)="logOut()">Log Out</a>
            </li>
            <li *ngIf="isAdmin" class="nav-item  navbar-brand py-0">
                <a class="nav-link active mx-2 "(click)="adminLogout()">Log Out</a>
            </li>
            <li *ngIf="isAdmin!=true" class="nav-item navbar-brand py-0 ms-3">
                <div>
                <a style = "border: double;" class = "nav-link active mr-4" routerLink = "/basket"> <i class="bi bi-basket3"></i> {{noItemsInBasket}} | {{basketPrice | currency: 'GBP'}}</a>
            </div>
        </ul>
    </nav>
</div>
