<div class="card text-black bg-light mb-3 text-center"  style="max-width: 38rem; 
                    margin:2rem auto;
                    float: none;
                    margin-bottom: 10px;">
            <div class="card-body">
              <h5 class="card-title display-3" style="font-size: 230%;">Registration Form</h5>
              <br>

              <div class="row">
                <div class="col">
                  <label for="firstName" style="margin-right: 12.5rem;">First name</label>
                  <input id="firstName"type="text" class="form-control" placeholder="First name" #firstName>
                </div>
                <div class="col">
                    <label for="lastName" style="margin-right: 12.5rem;">Last name</label>
                    <input id="lastName" type="text" class="form-control" placeholder="Last name" #lastName>
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col">
                    <label for="email" style="padding-right: 83%;">Email address</label>
                  <input id="email" type="email" class="form-control" placeholder="name@example.com" #email>
                </div>
               </div>
               <br>

               <div class="row">
                <div class="col">
                  <label for="email" style="padding-right: 84.3%;">Date of Birth</label>
                  <input id="birthDate" type="date" class="form-control" #birthDate>
                </div>
                </div>
                <br>

                <div class="row">
                <div class="col">
                    <label for="mobile" style="padding-right: 81%;">Mobile number</label>
                  <input id="tel" type="mobile" class="form-control" placeholder="+44" #mobile>
                </div>
               </div>
               <br>
               
               <div class="form-group col-md-4">
                <label for="gender" style="padding-right: 91%;">Gender</label>
                <select id="gender" class="form-control" #gender>
                  <option selected>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
              <br>

              <div class="row">
                <div class="col">
                  <label for="password" style="margin-right: 12.5rem;">Password</label>
                  <input id="password"type="password" class="form-control" placeholder="********" #password>
                </div>
                <div class="col">
                    <label for="retryPassword" style="margin-right: 9rem;">Retype Password</label>
                    <input id="retryPassword" type="password" class="form-control" placeholder="********" #retryPassword>
                </div>
              </div>
              <br>
              <button type="button" class="btn btn-primary" style="padding: 9px 110px;">Register</button>
              <br><br>
            </div>
          </div>