<div class="container p-0">
    <div class="card px-4">
        <br>
        <!--TOP ROW-->
        <div class="row">
            <!--COLUMN 1-->
            <div class="col-7">
                <!--ROW 1-->
                <div class="row" style="">
                    <!--CARD 1-->
                    <div class="col">
                        <div class="card bg-light mb-3" style="width: 16.1rem; height: 9rem; text-align: right">
                            <div class="card-body">
                                <br>
                                <h1>£52,102 </h1>
                                <h5 class="h4 py-3" style="text-align: right; line-height: 0px;">Total Revenue</h5>
                            </div>
                        </div>
                    </div>
                    <!--CARD 2-->
                    <div class="col">
                        <div class="card bg-light mb-3" style="width: 14.2rem; height: 9rem; text-align: right">
                            <div class="card-body">
                                <br>
                                <h1>12 </h1>
                                <h5 class="h4 py-3" style="text-align: right; line-height: 0px;">Messages</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!--ROW 2-->
                <div class="row">
                    <!--CARD 3-->
                    <div class="col">
                        <div class="card bg-light mb-3" style="width: 14.2rem; height: 9rem; text-align: right">
                            <div class="card-body">
                                <br>
                                <h1>231</h1>
                                <h5 class="h4 py-3" style="text-align: right; line-height: 0px;">Total Users</h5>
                            </div>
                        </div>
                    </div>

                    <!--CARD 4-->
                    <div class="col">
                        <div class="card bg-light mb-3" style="width: 16.1rem; height: 9rem; text-align: right">
                            <div class="card-body">
                                <br>
                                <h1>32125 </h1>
                                <h5 class="h4 py-3" style="text-align: right; line-height: 0px;">Total Orders</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--COLUMN 2-->
            <div class="col-5 bg-success">
                <!--PIECHART-->
                <div id="piechart">INSERT CHART HERE</div>


            </div>

        </div>


        <br>
    </div>
</div>


