<table mat-table #table [dataSource]="users">
  <ng-container matColumnDef="user_id">
    <th class = "px-3"  mat-header-cell *matHeaderCellDef>#</th>
    <td class = "px-3" mat-cell *matCellDef="let user">{{ user.user_id }}</td>
  </ng-container>
  <ng-container matColumnDef="first_name">
    <th class = "px-3"  mat-header-cell *matHeaderCellDef>First Name</th>
    <td class = "px-3" mat-cell *matCellDef="let user">{{ user.first_name }}</td>
  </ng-container>
  <ng-container matColumnDef="last_name">
    <th class = "px-3"  mat-header-cell *matHeaderCellDef>Last Name</th>
    <td class = "px-3" mat-cell *matCellDef="let user">{{ user.last_name }}</td>
  </ng-container>
  <ng-container matColumnDef="date_of_birth">
    <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
    <td class = "px-3" mat-cell *matCellDef="let user">{{ user.date_of_birth}}</td>
  </ng-container>
  <ng-container matColumnDef="email_address">
    <th class = "px-3" mat-header-cell *matHeaderCellDef>Email</th>
    <td class = "px-3" mat-cell *matCellDef="let user">{{ user.email_address }}</td>
  </ng-container>
  <ng-container matColumnDef="phone_number">
    <th class = "px-3" mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td class = "px-3" mat-cell *matCellDef="let user">{{ user.phone_number }}</td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th class = "px-3" mat-header-cell *matHeaderCellDef></th>
    <td class = "px-3" mat-cell *matCellDef="let user"><button (click)="deleteUser(user.user_id)" class="btn btn-danger">Delete</button></td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
