<div class="m-3">
  <h3>Search for users</h3>
  <div class="search">
    <input
      type="text"
      [(ngModel)]="term"
      class="searchTerm mb-3"
      placeholder="Enter"
    />
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users | filter:term">
        <tr>
          <th scope="row">{{ user.user_id }}</th>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.date_of_birth }}</td>
          <td>{{ user.email_address }}</td>
          <td>{{ user.phone_number }}</td>
          <td>
            <button (click)="deleteUser(user.user_id)" class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
