<h1 class="display-3 text-center">Contact Us</h1>
<h2 class="display-8 text-center">We will try our best to answer your query</h2>

<div class="card text-black bg-light mb-3 text-center"  style="max-width: 38rem; 
                    margin:2rem auto;
                    float: none;
                    margin-bottom: 10px;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <label for="name" style="padding-right: 92%;">Name</label>
                  <input id="name"type="text" class="form-control" placeholder="Name" #name>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                    <label for="email" style="padding-right: 83%;">Email address</label>
                  <input id="email" type="email" class="form-control" placeholder="name@example.com" #email>
                </div>
               </div>
               <br>
               <div class="row">
                <div class="col">
                    <label for="message" style="padding-right: 89%;">Message</label>
                  <textarea id="message" type="text" rows="10" class="form-control" 
                  placeholder="Write here.." #message></textarea>
                </div>
               </div>
               <br>

              
              <button type="button" class="btn btn-primary" style="padding: 9px 110px;">Submit</button>
              <br><br>
            </div>
          </div>