<div class="container p-0">
    <div class="card px-4">
        <h4 class="h8 py-3 text-center">Edit Payment Details</h4>
        <form id="payment-form" class="form" (ngSubmit)="onSubmit()" #paymentForm="ngForm">
        <div class="row gx-3">
            <div class="col-12 mb-4">
                <div class="d-flex flex-column">
                    <label class="form-label" for="fullName">Full Name</label>
                    <input type="text" name="fullName" #fullName="ngModel" class="form-control" placeholder="Name" ngModel required>
                    <span class="help-block" style="color: red;"
                        *ngIf="!fullName.valid && fullName.touched">Full Name Required!</span>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="d-flex flex-column">
                    <label class="form-label" for="cardNumber">Card Number</label> 
                    <input type="text" name="cardNumber" #cardNumber="ngModel" class="form-control" placeholder="1234 5678 4356 7891" maxlength="16" minlength="12" ngModel required>
                    <span class="help-block" style="color: red;"
                        *ngIf="!cardNumber.valid && cardNumber.touched">Card number not correct</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <label class="form-label" for="expiry">Expiry</label> 
                    <input type="text" name="expiry" #expiry="ngModel" class="form-control" placeholder="MM/YYYY" ngModel required>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <label class="form-label" for="cvv">CVV/CVC</label> 
                    <input name="cvv" #cvv="ngModel" class="form-control" type="password" placeholder="***" maxlength="3" minlength="3" ngModel required>
                    <span class="help-block" style="color: red;"
                        *ngIf="!cvv.valid && cvv.touched">CVV Incorrect!</span>
                
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-block mb-4 mt-3" 
                        style="background-color: #dc4726;"  [disabled]="!paymentForm.valid">Save Details</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
