<div class="container p-0">
    <div class="card px-4">
        <h4 class="h8 py-3 text-center">Account Details</h4>

        <div class="container mb-4">
            <div class="row">
                <div class="col-sm">
                    <div class="container p-0">
                        <div class="card px-4" style="border: 0px;">
                            <h6 class="h8 py-2">Current address:</h6>
                            <div *ngIf="address!=null">
                                {{address.first_name}} {{address.last_name}}<br>
                                {{address.first_line}}<br>
                                {{address.second_line}}<br>
                                {{address.city}}, {{address.state}}<br>
                                {{address.post_code}}<br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="container p-0">
                        <div class="card px-4 ml-5" style="border: 0px;">
                            <h6 class="h8 py-2">Current payment method:</h6>
                            John Doe <br>
                            1234 5678 9123 1234<br>
                            03/99<br>
                            ***<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <div class="container p-0">
                <div class="card px-4" style="border: 0px;">
                    <h6 class="h8 py-2">Current email address:</h6>
                    {{loggedUser.email_address}} <br>
                </div>
            </div>
        </div>
        <button (click)="printUser()">Test</button>
    </div>
</div>