<div class="card text-black mb-3 text-center" style="max-width: 38rem; margin:2rem auto; float: none;
                    margin-bottom: 10px;
                    border: 2px solid #ba1e1e;
                     ">
    <div class="card-header">
        <h3 class="card-title mb-2 mt-3" style="font-size: 230%; color: #ba1e1e;">Add New Employee</h3>
    </div>

<div class="card-body">
    <form name="newAdminForm" class="form" (ngSubmit)="onSubmit()" #newAdminForm="ngForm">
        <br>
        <div class="row form-group">
            <div class="col">
                <label for="firstName" style="margin-right: 12.5rem;">First name</label>
                <input name="firstName" type="text" class="form-control" placeholder="First name" #firstName="ngModel"
                    ngModel required>
                <span class="help-block" style="color: #ba1e1e;"
                    *ngIf="!firstName.valid && firstName.touched">Required!</span>
            </div>

            <div class="col">
                <label for="lastName" style="margin-right: 12.5rem;">Last name</label>
                <input name="lastName" type="text" class="form-control" placeholder="Last name" #lastName="ngModel"
                    ngModel required>
                <span class="help-block" style="color: #ba1e1e;"
                    *ngIf="!lastName.valid && lastName.touched">Required!</span>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <div class="col">
                <label for="email" style="padding-right: 83%;">Email address</label>
                <input name="email" type="email" class="form-control" placeholder="name@example.com" #email="ngModel"
                    ngModel required>
                <span class="help-block" style="color: #ba1e1e;" *ngIf="!email.valid && email.touched">Please enter a
                    valid
                    email!</span>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <div class="col">
                <label for="email" style="padding-right: 84.3%;">Date of Birth</label>
                <input name="birthDate" type="date" class="form-control" #birthDate="ngModel" ngModel required>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <div class="col">
                <label for="mobile" style="padding-right: 80%;">Mobile number</label>
                <input name="mobile" type="tel" class="form-control" placeholder="+44" #mobile="ngModel" ngModel
                    required>
                <span class="help-block" style="color: #ba1e1e;"
                    *ngIf="!mobile.valid && mobile.touched">Required!</span>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <div class="col">
                <label for="password" style="margin-right: 12.5rem;">Password</label>
                <input name="password" type="password" class="form-control" placeholder="********" #password="ngModel"
                    ngModel required><span class="help-block" style="color: #ba1e1e;"
                    *ngIf="!password.valid && password.touched">Required!</span>
            </div>
            <div class="col">
                <label for="rePassword" style="margin-right: 9rem;">Retype Password</label>
                <input name="rePassword" type="password" class="form-control" placeholder="********"
                    #rePassword="ngModel" ngModel required><span class="help-block" style="color: #ba1e1e;"
                    *ngIf="!rePassword.valid && rePassword.touched && rePassword !== password">Required!
                </span>
            </div>
            <div class="col">
                <br><br>
                <button class="btn btn-block mb-1" [disabled]="!newAdminForm.valid"
                    style="padding: 9px 110px; background-color: #ba1e1e;">Register</button>

            </div>
        </div>

        <br><br>
    </form>
</div>
</div>