h1 {
    color: #dc4726;
 }

h5 {
   font-weight: bold;
}
 
 button {
     background-color: #dc4726;
     border: none;
     color: white;
 }
 
 button:hover, button:active, button:enabled {
     background-color: #cf2600;
     border: none;
     color: white;
     
 }