@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@media (min-width: 1200px) {}

p {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }

 body {
    margin-bottom: 100px;
    clear: both;
 }