<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class=" header display-1 d-block"> Error 404</span>
                <div class=" text mb-2 lead">The page you are looking for was not found.</div>
                <div class=" text mb-4 lead">Please use the navbar above to navigate back!</div>
            </div>
        </div>
    </div>
</div>