@media (max-width: 575px){
    #module-col{
        padding-left: 40%;
    }
   
}

@media (min-width: 576px){
    #module-col{
        padding-left: 30%;
    }
}

@media (min-width: 768px){
    #module-col{
        padding-left: 20%;
    }

}

@media (min-width: 992px){
    #module-col{
        padding-left: 10%;
    }
}

@media (min-width: 1200px){
    #module-col{
        padding-left: 10%;
    }
    
}

.active{
    background-color: #dc4726;
    border: #dc4726;
}